<div class="main-in">

  <div class="bg-main-in"></div>
  <div class="bg-main-img-in"></div>
  <div class="main-in-text">

    <i class="far fa-arrow-alt-circle-up"></i>

    <h1>Editar Historia</h1>

  </div>


</div>

<div class="container container-form-custom">

  <%= render 'form', history: @history %>

</div>
